RMS Project/WPS/WPS/Web References/WPSService/WPSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52150/WPSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WPSService.Model" />
  <xs:import schemaLocation="http://localhost:52150/WPSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WPSService" />
  <xs:element name="SP_Get_Account_By_Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Get_Account_By_CompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Get_Account_By_CompanyResult" nillable="true" type="q1:ArrayOfSP_Get_Account_By_Company_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_CompanyWise_Dashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompnayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_CompanyWise_DashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Reviews_CompanyWise_DashboardResult" nillable="true" type="q2:ArrayOfSP_Reviews_CompanyWise_Dashboard_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Line_CompanyWise_Dashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompnayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Line_CompanyWise_DashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Reviews_Line_CompanyWise_DashboardResult" nillable="true" type="q3:ArrayOfSP_Reviews_Line_CompanyWise_Dashboard_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Review_WordCount_Dashboard_HI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WrdTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Review_WordCount_Dashboard_HIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Review_WordCount_Dashboard_HIResult" nillable="true" type="q4:ArrayOfSP_Review_WordCount_Dashboard_HI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordType_Desc_PieChart_Dashboard_HI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WrdTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordType_Desc_PieChart_Dashboard_HIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_WordType_Desc_PieChart_Dashboard_HIResult" nillable="true" type="q5:ArrayOfSP_WordType_Desc_PieChart_Dashboard_HI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordDesc_MonthWise_BarChart_Dashboard_HI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="WrdTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordDesc_MonthWise_BarChart_Dashboard_HIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_WordDesc_MonthWise_BarChart_Dashboard_HIResult" nillable="true" type="q6:ArrayOfSP_WordDesc_MonthWise_BarChart_Dashboard_HI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordCount_Desc_CloudChart_Dashboard_HI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_WordCount_Desc_CloudChart_Dashboard_HIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_WordCount_Desc_CloudChart_Dashboard_HIResult" nillable="true" type="q7:ArrayOfSP_WordCount_Desc_CloudChart_Dashboard_HI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Rating_Summary_Dashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Sqlqry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Rating_Summary_DashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Reviews_Rating_Summary_DashboardResult" nillable="true" type="q8:ArrayOfSP_Reviews_Rating_Summary_Dashboard_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_IsAccount_Benchmark_Dashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_IsAccount_Benchmark_DashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_IsAccount_Benchmark_DashboardResult" nillable="true" type="q9:ArrayOfSP_IsAccount_Benchmark_Dashboard_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_IsBenAccount_Benchmark_Dashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_IsBenAccount_Benchmark_DashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_IsBenAccount_Benchmark_DashboardResult" nillable="true" type="q10:ArrayOfSP_IsBenAccount_Benchmark_Dashboard_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WPSService" minOccurs="0" name="composite" nillable="true" type="q11:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WPSService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q12:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActivityLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="log" nillable="true" type="q13:SMSA_Logs_HI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActivityLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserActivityLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserActivityLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="RptUserActivityLogResult" nillable="true" type="q14:ArrayOfsp_RptGetUserActivityLog_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserCompanyLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserCompanyLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="RptUserCompanyLogResult" nillable="true" type="q15:ArrayOfsp_RptCompanyCreation_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserSalesAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserSalesAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="RptUserSalesAccountResult" nillable="true" type="q16:ArrayOfSp_RptSalesAccount_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserRFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserRFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="RptUserRFIDResult" nillable="true" type="q17:ArrayOfSp_RptRFRId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserEmpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RptUserEmpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="RptUserEmpInfoResult" nillable="true" type="q18:ArrayOfSp_RptEmpInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_SifMstDtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Esid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PesNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_SifMstDtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="Sp_SifMstDtlResult" nillable="true" type="q19:ArrayOfSp_SifMstDtl_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllOrganizationResult" nillable="true" type="q20:ArrayOfSMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetOrganizationByIdResult" nillable="true" type="q21:SMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetOrganizationsByAgentIdResult" nillable="true" type="q22:ArrayOfSMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllOrganizationByTypeResult" nillable="true" type="q23:ArrayOfSMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q24:SMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrganizationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q25:SMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q26:SMSA_Organization_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateCompanyByAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="EstID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateCompanyByAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDuplicateCompanyByAgentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllCompaniesResult" nillable="true" type="q27:ArrayOfSMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetCompanyByIdResult" nillable="true" type="q28:SMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesByOrgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesByOrgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllCompaniesByOrgIdResult" nillable="true" type="q29:ArrayOfSMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesBySaleAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleAccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesBySaleAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllCompaniesBySaleAccountIDResult" nillable="true" type="q30:ArrayOfSMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q31:SMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q32:SMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q33:SMSA_CompanyMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllAgentsResult" nillable="true" type="q34:ArrayOfSRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllSubAgentsResult" nillable="true" type="q35:ArrayOfSRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaleAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllSaleAccountResult" nillable="true" type="q36:ArrayOfSRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAgentByIdResult" nillable="true" type="q37:SRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentByAccountCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentByAccountCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAgentByAccountCodeResult" nillable="true" type="q38:SRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubAgentsByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubAgentsByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllSubAgentsByAgentIdResult" nillable="true" type="q39:ArrayOfSRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSalesAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q40:SRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSalesAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSalesAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q41:SRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalesAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="org" nillable="true" type="q42:SRCC_SalesAccount_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalesAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllActTypeResult" nillable="true" type="q43:ArrayOfSMIM_AccountType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllActTypeByIdResult" nillable="true" type="q44:SMIM_AccountType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="actype" nillable="true" type="q45:SMIM_AccountType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertActTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="actype" nillable="true" type="q46:SMIM_AccountType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="actype" nillable="true" type="q47:SMIM_AccountType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllComAccountsResult" nillable="true" type="q48:ArrayOfSMIM_ReviewAccounts_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllAccountsNameResult" nillable="true" type="q49:ArrayOfSMIM_ReviewAccountName_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenAccountsName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenAccountsNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetBenAccountsNameResult" nillable="true" type="q50:ArrayOfSMIM_BenchAccountName_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComAccountsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComAccountsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllComAccountsByIdResult" nillable="true" type="q51:SMIM_ReviewAccounts_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="comAct" nillable="true" type="q52:SMIM_ReviewAccounts_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertComAccountsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="comAct" nillable="true" type="q53:SMIM_ReviewAccounts_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComAccountsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="comAct" nillable="true" type="q54:SMIM_ReviewAccounts_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComAccountsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewAct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllReviewActResult" nillable="true" type="q55:ArrayOfSMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewActById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewActByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllReviewActByIdResult" nillable="true" type="q56:SMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRvActSiteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRvActSiteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllRvActSiteByIdResult" nillable="true" type="q57:ArrayOfSMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewActSiteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewActSiteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllReviewActSiteByIdResult" nillable="true" type="q58:ReviewCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReviewAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewAct" nillable="true" type="q59:SMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReviewActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReviewActResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewAct" nillable="true" type="q60:SMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewActResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewAct" nillable="true" type="q61:SMIM_ReviewAccountSite_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewActResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllReviewSitesResult" nillable="true" type="q62:ArrayOfSMAM_ReviewSites_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewSitesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewSitesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetAllReviewSitesByIdResult" nillable="true" type="q63:SMAM_ReviewSites_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReviewSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewSite" nillable="true" type="q64:SMAM_ReviewSites_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReviewSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReviewSitesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewSite" nillable="true" type="q65:SMAM_ReviewSites_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewSitesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="viewSite" nillable="true" type="q66:SMAM_ReviewSites_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewSitesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_ReviewsSiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_ReviewsSiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="Sp_ReviewsSiteInfoResult" nillable="true" type="q67:ArrayOfSp_ReviewsSiteInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="GetDashboardResult" nillable="true" type="q68:Dashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_ReviewsSitesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sp_ReviewsSitesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="Sp_ReviewsSitesListResult" nillable="true" type="q69:ArrayOfSp_ReviewsSitesList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ReviewsListFor_Dashboard_TR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Review" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ReviewsListFor_Dashboard_TRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_ReviewsListFor_Dashboard_TRResult" nillable="true" type="q70:ArrayOfSP_ReviewsListFor_Dashboard_TR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Chart_Dashboard_TR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_Chart_Dashboard_TRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Reviews_Chart_Dashboard_TRResult" nillable="true" type="q71:ArrayOfSP_Reviews_Chart_Dashboard_TR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_LineChart_Dashboard_TR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Reviews_LineChart_Dashboard_TRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_Reviews_LineChart_Dashboard_TRResult" nillable="true" type="q72:ArrayOfSP_Reviews_LineChart_Dashboard_TR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetCompanies_By_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetCompanies_By_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WPSService.Model" minOccurs="0" name="SP_GetCompanies_By_OrganizationResult" nillable="true" type="q73:ArrayOfSP_GetCompanies_By_Organization_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>