Online Review Sytem (Irfan-EP19101027, Ramsha-EP19101069, Sumayya-EP19101076)/WPS/WPS/Web References/UserServiceClass/User3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54589/User.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationService" />
  <xs:import schemaLocation="http://localhost:54589/User.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApplicationService.Model" />
  <xs:import schemaLocation="http://localhost:54589/User.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54589/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q3:ArrayOfSMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleNameByRolesIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleIds" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleNameByRolesIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllRoleNameByRolesIdsResult" nillable="true" type="q5:ArrayOfSMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllRolesByIdResult" nillable="true" type="q7:SMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="roles" nillable="true" type="q8:SMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="roles" nillable="true" type="q9:SMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="roles" nillable="true" type="q10:SMSA_Roles_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRolesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeResult" nillable="true" type="q11:ArrayOfSMIM_UserType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeByIdResult" nillable="true" type="q12:SMIM_UserType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="userType" nillable="true" type="q13:SMIM_UserType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="userType" nillable="true" type="q14:SMIM_UserType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="userType" nillable="true" type="q15:SMIM_UserType_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q16:ArrayOfSMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q17:SMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q18:SMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByOrgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByOrgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUsersByOrgIdResult" nillable="true" type="q19:ArrayOfSMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUsersByCompanyIdResult" nillable="true" type="q20:ArrayOfSMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersBySalesAccountId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesAccountCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersBySalesAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUsersBySalesAccountIdResult" nillable="true" type="q21:ArrayOfSMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="user" nillable="true" type="q22:SMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="user" nillable="true" type="q23:SMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="user" nillable="true" type="q24:SMIM_UserMst_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllMenuResult" nillable="true" type="q25:ArrayOfSMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllParentMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllParentMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllParentMenuResult" nillable="true" type="q26:ArrayOfSMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChildMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChildMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllChildMenuResult" nillable="true" type="q27:ArrayOfSMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildMenuByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildMenuByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetChildMenuByParentIDResult" nillable="true" type="q28:ArrayOfSMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenuById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMenuByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllMenuByIdResult" nillable="true" type="q29:SMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="menu" nillable="true" type="q30:SMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMenuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="menu" nillable="true" type="q31:SMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="menu" nillable="true" type="q32:SMAM_Menu_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeAccessResult" nillable="true" type="q33:ArrayOfSMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByAssignedUserTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserTypeIds" nillable="true" type="q34:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByAssignedUserTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeAccessByAssignedUserTypesResult" nillable="true" type="q35:ArrayOfSMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeAccessByIdResult" nillable="true" type="q36:ArrayOfSMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserTypeAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserTypeAccess" nillable="true" type="q37:SMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserTypeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserTypeAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserTypeAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserTypeAccess" nillable="true" type="q38:SMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserTypeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserTypeAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTypeAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserTypeAccess" nillable="true" type="q39:SMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTypeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserTypeAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByIdAndRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Typeid" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByIdAndRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeAccessByIdAndRolesResult" nillable="true" type="q41:ArrayOfSMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByIdAndRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeId" type="xs:int" />
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserTypeAccessByIdAndRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserTypeAccessByIdAndRoleNameResult" nillable="true" type="q42:ArrayOfSMIM_UserTypeAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccessByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccessByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetAllUserAccessByUserIdResult" nillable="true" type="q43:ArrayOfSMIM_UserAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserAccess" nillable="true" type="q44:SMIM_UserAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserAccess" nillable="true" type="q45:SMIM_UserAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="UserAccess" nillable="true" type="q46:SMIM_UserAccess_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAccessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ApplicationService.Model" minOccurs="0" name="GetServicesResult" nillable="true" type="q47:ArrayOfSMAM_SystemService_ST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>